.budget {
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(46, 204, 113), rgb(26, 188, 156));
    margin-top: 24px;
    position: sticky;
    color: #fff;
    font-size: 32px;
    font-weight: 600;
}