.receipt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin-top: 16px;
    padding: 16px;
}


.receipt {
    font-size: 28px;
    font-weight: 700;
    color:  #333;
    margin-bottom: 16px;
}

.basket {
    min-width: 70%;
}

.basket-products, 
.basket-total {
    display: flex;
    justify-content: space-between;
}

.basket-total {
    border-top: 2px solid #333;
}

.basket-quantity {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.basket-total-name {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.basket-total-amount {
    color: #24c486;
    font-size: 20px;
} 

.basket-products-name {
    font-size: 20px;
    font-weight: 400;
    color: #333;
}
.basket-quantity-amount{
    color: #24c486;
    font-size: 20px;
}


.basket-quantity-product {
    font-size: 20px;
    font-weight: 400;
    color: #333;
}

@media (max-width: 576px) {

    .basket {
        min-width: 100%;
    }
    .receipt-container {
        padding: 4px;
    }

    .receipt {
        font-size: 16px;
    }

    .basket-quantity.p:first-child {
        font-size: 12px;
    }

    .basket-total-name,
    .basket-total-amount,
    .basket-products-name,
    .basket-quantity-amount,
    .basket-quantity-product {
        font-size: 16px;
    }
}