* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* :root {
    
} */

body {
  background-color: #f1f2f6;
}

a, 
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  border: none;
  color: var(--font-color-1);
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

section,
span,
p {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

.container {
  max-width: 70%;
  margin: 0 auto;
  padding: 28px 0;
}
